@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
    padding-inline: 15px;
  }
  .nav .links ul {
    display: none;
  }
  .home .container {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    text-align: center;
  }
  .home .container .home-image {
    order: 1;
    width: 100%;
  }
  .home .container .home-content {
    order: 2;

    width: 100%;
  }

  .home .container .home-content .home-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home .container .home-content .home-icons .icon-1 button {
    border-radius: 20px;
  }
  .chefs .container .chefs-cards {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .chefs .container .chefs-cards .chefs-card {
    width: 100%;
    transition: 0.3s all ease-in-out;
  }
  .chefs .container .chefs-card:hover .hover-card {
    left: 88%;
  }
  .pizza {
    order: 1;
  }
  .pizza-slices {
    order: 3;
  }
  .steak {
    order: 5;
  }
  .omelette {
    order: 4;
  }
  .burger {
    order: 2;
  }
  .fried {
    order: 6;
  }
  .kofta {
    order: 7;
  }
  .gallery-menu {
    height: auto;
  }
  .gallery .container .gallery-menu {
    flex-wrap: nowrap;
  }
  .gallery .container .gallery-menu .menu-image {
    width: 100%;
  }
  .contact .contact-informations .contact-details {
    width: 100%;
  }
  .contact .input-fields .section-1 {
    flex-wrap: wrap;
  }
  .contact .input-fields .section-1 input {
    width: 100%;
  }
  .footer .container .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer .container .footer-sections .section-1 .fav-img img {
    width: 9%;
  }
  .footer .container .footer-sections .section-1 {
    width: 100%;
    order: 1;
  }
  .footer .container .footer-sections .section-2 {
    width: 100%;
    order: 2;
  }
  .footer .container .footer-sections .section-3 {
    width: 100%;
    order: 3;
  }
  .footer .container .footer-sections .section-2 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-1 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-2 form {
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer .container .footer-sections .section-2 form input {
    width: 100%;
  }

  .footer .container .footer-sections .section-2 form button {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .nav .links ul {
    display: none;
  }
  .home .container {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    text-align: center;
  }
  .home .container .home-image {
    order: 1;
    width: 100%;
  }
  .home .container .home-content {
    order: 2;

    width: 100%;
  }

  .home .container .home-content .home-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home .container .home-content .home-icons .icon-1 button {
    border-radius: 20px;
  }
  .chefs .container .chefs-cards {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .chefs .container .chefs-cards .chefs-card {
    width: 100%;
    transition: 0.3s all ease-in-out;
  }
  .chefs .container .chefs-card:hover .hover-card {
    left: 88%;
  }
  .pizza {
    order: 1;
  }
  .pizza-slices {
    order: 3;
  }
  .steak {
    order: 5;
  }
  .omelette {
    order: 4;
  }
  .burger {
    order: 2;
  }
  .fried {
    order: 6;
  }
  .kofta {
    order: 7;
  }
  .gallery-menu {
    height: auto;
  }
  .gallery .container .gallery-menu {
    flex-wrap: nowrap;
  }
  .gallery .container .gallery-menu .menu-image {
    width: 100%;
  }
  .contact .contact-informations .contact-details {
    width: 100%;
  }
  .contact .input-fields .section-1 {
    flex-wrap: wrap;
  }
  .contact .input-fields .section-1 input {
    width: 100%;
  }
  .footer .container .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer .container .footer-sections .section-1 .fav-img img {
    width: 9%;
  }
  .footer .container .footer-sections .section-1 {
    width: 100%;
    order: 1;
  }
  .footer .container .footer-sections .section-2 {
    width: 100%;
    order: 2;
  }
  .footer .container .footer-sections .section-3 {
    width: 100%;
    order: 3;
  }
  .footer .container .footer-sections .section-2 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-1 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-2 form input {
    width: calc(((100% - 5px) / 5) * 4);
  }

  .footer .container .footer-sections .section-2 form button {
    width: calc(((100% - 5px) / 5));
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .nav .links ul {
    display: none;
  }
  .home .container {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    text-align: center;
  }
  .home .container .home-image {
    order: 1;
    width: 100%;
  }
  .home .container .home-content {
    order: 2;

    width: 100%;
  }
  .home .container .home-content h2 {
    width: 60%;
    justify-self: center;
  }
  .home .container .home-content .home-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home .container .home-content .home-icons .icon-1 button {
    border-radius: 20px;
  }
  .chefs .container .chefs-cards {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .chefs .container .chefs-cards .chefs-card {
    width: calc((100% - 20px) / 2);
    transition: 0.3s all ease-in-out;
  }
  .chefs .container .chefs-card:hover .hover-card {
    left: 82%;
  }
  .pizza {
    order: 1;
  }
  .pizza-slices {
    order: 3;
  }
  .steak {
    order: 5;
  }
  .omelette {
    order: 4;
  }
  .burger {
    order: 2;
  }
  .fried {
    order: 6;
  }
  .kofta {
    order: 7;
  }
  .gallery-menu {
    height: 1400px;
  }
  .gallery .container .gallery-menu .menu-image {
    width: calc((100% - 20px) / 2);
  }
  .contact .input-fields .section-1 {
    flex-wrap: wrap;
  }
  .contact .input-fields .section-1 input {
    width: 100%;
  }
  .footer .container .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer .container .footer-sections .section-1 .fav-img img {
    width: 9%;
  }
  .footer .container .footer-sections .section-1 {
    width: calc((100% - 20px) / 2);
    order: 1;
  }
  .footer .container .footer-sections .section-2 {
    width: 100%;
    order: 3;
  }
  .footer .container .footer-sections .section-3 {
    width: calc((100% - 20px) / 2);
    order: 2;
  }
  .footer .container .footer-sections .section-2 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-1 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-2 form input {
    width: calc(((100% - 5px) / 8) * 7);
  }

  .footer .container .footer-sections .section-2 form button {
    width: calc(((100% - 5px) / 8));
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .home {
    min-height: 50vh;
  }
  .home .container {
    margin-top: 30px;
  }
  .nav {
    position: relative;
  }
  .nav .links ul {
    display: none;
    flex-direction: column;
    width: 30%;
    min-height: 100vh;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
  }
  .nav .links ul li {
    padding: 15px 10px;
  }
  .nav .links ul li:first-child {
    align-self: flex-end;
  }
  .nav .links ul li:first-child i {
    font-size: 24px;
  }
  .gallery-menu {
    height: 850px;
  }
  .footer .container .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer .container .footer-sections .section-1 .fav-img img {
    width: 9%;
  }
  .footer .container .footer-sections .section-1 {
    width: calc((100% - 20px) / 2);
    order: 1;
  }
  .footer .container .footer-sections .section-2 {
    width: 100%;
    order: 3;
  }
  .footer .container .footer-sections .section-3 {
    width: calc((100% - 20px) / 2);
    order: 2;
  }
  .footer .container .footer-sections .section-2 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-1 p {
    font-size: 15px;
  }
  .footer .container .footer-sections .section-2 form input {
    width: calc(((100% - 5px) / 8) * 7);
  }

  .footer .container .footer-sections .section-2 form button {
    width: calc(((100% - 5px) / 8));
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .home {
    min-height: 75vh;
  }
  .home .container {
    margin-top: 180px;
  }
  .nav .icons i + i {
    display: none;
  }
  .nav .links ul li:first-child {
    display: none;
  }
  .gallery-menu {
    height: 1151px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .home .container {
    margin-top: 170px;
  }
  .home {
    min-height: 80vh;
  }
  .nav .icons i + i {
    display: none;
  }
  .gallery-menu {
    height: 1151px;
  }
  .nav .links ul li:first-child {
    display: none;
  }
}
